<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Tracker Bus</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Início</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/clientes">Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/usuarios">Usuários</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/config">Configurações</a>
      </li>
    </ul>
    <a class="navbar-brand" href="#">
      <i class="material-icons">people</i>
    </a>
  </div>
</nav>

<nav class="navbar navbar-dark bg-dark">
  <span class="navbar-brand">
    <a class="nav-link" routerLink="/config">Institucional</a>
  </span>
  <span class="navbar-brand">
        <a class="nav-link" routerLink="/config-empresa">Empresa</a>
    </span>
  <h1 class="navbar-brand">
            <a class="nav-link" routerLink="/config-servicos">Serviços</a>
    </h1>
  <span class="navbar-brand">
            <a class="nav-link" routerLink="/config-frota">Nossa Frota</a>
    </span>
  <span class="navbar-brand">
            <a class="nav-link" routerLink="/config-fale-conosco">Fale Conosco</a>
    </span>

  <button class="btn btn-success" (click)="adicionar(adicionarModal)">Adicionar</button>

</nav>

<div style="padding: 20px">

  <div class="alert alert-success" role="alert" *ngIf="closeResult">
    {{closeResult}}
  </div>

  <div class="alert alert-danger" role="alert" *ngIf="errorResult">
    {{errorResult}}
  </div>

  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Imagem</th>
      <th scope="col">Status</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let servico of servicos">
      <th scope="row">{{servico.titulo}}</th>
      <td>{{servico.descricao}}</td>
      <td><img style="width: 100px; height: 100px" src="{{servico.foto}}"></td>
      <td style="text-transform: capitalize">{{servico.status}}</td>
      <td>
        <button class="btn btn-primary" (click)="editar(editarModal, servico)">Editar</button>
        <button class="btn btn-danger" (click)="deletar(modalDelete, servico)">Excluir</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>




<!-- Modal Adicionar -->
<ng-template #adicionarModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Novo Empresa...</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="form-group">
      <label>Nome:</label>
      <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="servico.titulo"
             placeholder="...">
    </div>
    <div class="form-group">
      <label>Imagem:</label>
      <input type="file" class="form-control" (change)="onFileSelected($event)" id="foto" name="foto" [(ngModel)]="servico.foto"
             placeholder="...">
    </div>
    <div class="form-group">
      <label>Descrição:</label>
      <input type="text" class="form-control" id="descricao" name="descricao" [(ngModel)]="servico.descricao" placeholder="...">
    </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success" [disabled]="servico.titulo.length <= 3"
            (click)="c('Confimar')">Confimar
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="d('Close click')">Cancelar</button>
  </div>
</ng-template>

<!-- Modal Editando -->
<ng-template #editarModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Editando...</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Nome:</label>
      <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="service.titulo"
             placeholder="...">
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <label>Imagem:</label>
        </div>
        <div class="col">
          <td><img style="width: 100px; height: 100px" src="{{service.foto}}"></td>
        </div>
      </div>
      <br>
      <input type="file" class="form-control" (change)="onFileSelected($event)" placeholder="...">
    </div>
    <div class="form-group">
      <label>Descrição:</label>
      <input type="text" class="form-control" id="descricao" name="descricao" [(ngModel)]="service.descricao" placeholder="...">
    </div>
    <div class="form-group">
      <label>Status:</label>
      <select class="form-control" id="status" name="status" [(ngModel)]="service.status">
        <option value="ativo">Ativo</option>
        <option value="inativo">Inativo</option>
      </select>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" [disabled]="service.titulo.length <= 3"
            (click)="c('Confimar')">Confimar
    </button>
    <button type="button" class="btn btn-outline-dark" (click)="d('Close click')">Cancelar</button>
  </div>
</ng-template>

<!-- Modal Deletando -->
<ng-template #modalDelete let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirmação - Exclusão</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Deseja excluir esta Frota: <b>{{servico.titulo}}</b></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="c('Confimar')">Confimar</button>
    <button type="button" class="btn btn-outline-dark" (click)="d('Cancelar')">Cancelar</button>
  </div>
</ng-template>

