<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Tracker Bus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home">Início</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/clientes">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/usuarios">Usuários</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/config">Configurações</a>
            </li>
        </ul>
        <a class="navbar-brand" href="#">
            <i class="material-icons">people</i>
        </a>
    </div>
</nav>

<nav class="navbar navbar-dark bg-dark">
    <button class="btn" (click)="voltar()">Voltar</button>
    <label class="navbar-brand">Lista de Itens - Rota: {{nome_rota}}</label>
    <button class="btn btn-success" (click)="adicionar(adicionarModal)">Adicionar</button>
</nav>

<div style="padding: 20px">
    <div class="alert alert-success" role="alert" *ngIf="closeResult">
        {{closeResult}}
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="errorResult">
        {{errorResult}}
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Ordem</th>
            <th scope="col">Latitude</th>
            <th scope="col">Longitude</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of rota_itens">
            <th scope="row">{{item.codigo}}</th>
            <td>{{item.ordem}}</td>
            <td>{{item.lat}}</td>
            <td>{{item.lng}}</td>
            <td>
                <button class="btn btn-primary" (click)="editar(editarModal, item)">Editar</button>
                <button class="btn btn-danger" (click)="deletar(modalDelete, item)">Excluir</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<!-- Modal Adicionar -->
<ng-template #adicionarModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Novo Item...</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Latitude:</label>
            <input type="number" class="form-control" id="lat" name="lat" [(ngModel)]="rota_item.lat" placeholder="...">
        </div>
        <div class="form-group">
            <label>Longitude:</label>
            <input type="number" class="form-control" id="lng" name="lng" [(ngModel)]="rota_item.lng" placeholder="...">
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" [disabled]="rota_item.lat == 0 || rota_item.lng == 0"
                (click)="c('Confimar')">Confimar
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="d('Close click')">Cancelar</button>
    </div>
</ng-template>

<!-- Modal Editando -->
<ng-template #editarModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Editando...</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div class="form-group">
            <label>Ordem:</label>
            <input type="number" class="form-control" id="ordem" name="ordem" [(ngModel)]="route_item.ordem"
                   placeholder="...">
        </div>
        <div class="form-group">
            <label>Latitude:</label>
            <input type="number" class="form-control" id="lat" name="lat" [(ngModel)]="route_item.lat"
                   placeholder="...">
        </div>
        <div class="form-group">
            <label>Longitude:</label>
            <input type="number" class="form-control" id="lng" name="lng" [(ngModel)]="route_item.lng"
                   placeholder="...">
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-success" [disabled]="route_item.lat == 0 || route_item.lng == 0"
                (click)="c('Confimar')">Confimar
        </button>
        <button type="button" class="btn btn-outline-dark" (click)="d('Close click')">Cancelar</button>
    </div>
</ng-template>

<!-- Modal Deletando -->
<ng-template #modalDelete let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Confirmação - Exclusão</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Deseja excluir este Item: <b>{{rota_item.ordem}}</b></p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="c('Confimar')">Confimar</button>
        <button type="button" class="btn btn-outline-dark" (click)="d('Cancelar')">Cancelar</button>
    </div>
</ng-template>